main {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

section {
  color: #444;
  background-color: #eee;
  min-height: 100px;
  width: 400px;
  padding: 1em;
}

.table {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  padding: 0;
  margin: 0;
}

.main-info {
    margin: 25px;
padding: 10px;
}

#types {
  display: flex;
  gap: 0.2em;
}

.tag {
  background-color: aqua;
  padding: 2px 12px;
  border-radius: 6px;
}
th,
td {
  color: #eee;
  border: 1px solid #eee;
  background-color: steelblue;
  padding: 1em;
  width: 50%;
}
